// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  &__links {
    display: flex;
    font-size: $basicText;
    margin: 5px;
    margin-bottom: 55px;
    padding: 0;
    justify-content: space-between;
  }
  &__link {
    position: relative;
    margin: 5px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      bottom: 0;
      background-color: #333;
    }
    @include on-event {
      &::after {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 768px){
  /**
  |--------------------------------------------------
  | RWD... szału nie ma, ale trzeba iść spać | TODO
  |--------------------------------------------------
  */
    &__links {
      flex-wrap: wrap;
    }
    &__link {
      min-width: 130px;
    }
  }
}