// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
// $text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-font-stack: 'Raleway', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Monaco', monospace !default;

$rhino: #273650;
$manatee: #939aa7;
$periwinkleGray: #b8c8e5;
$aquaSqueeze: #edf7f5;
$black: #000;
$white: #fff;

$primaryColor: $rhino;
$mainContainerBgColor: $aquaSqueeze;
$footerColor: $manatee;
$socialColor: $periwinkleGray;
$linkColor: $black;
$textColor: $black;

$globalTransition: 300ms ease;
$inactiveOpacity: 0.5;
$activeOpacity: 1;

// spacing
$containerMargin: 10px auto 10px auto;
$containerPadding: 10px;
$mainContainerMargin: 70px auto 0 auto;
$mainContainerPadding: 10px 10px 50px 10px;

// max width
$mainContainerMaxWidth: 1260px;
// $containerMaxWidth: 1260px;

// font sizes
$h1: 36px;
$basicText: 14px;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
